
 // * FONTS

//  @font-face {
// 	font-family: 'LubDubMedium';
// 	src: url('../fonts/LubDubMedium.eot');
// 	src: local('☺'), url('../fonts/LubDubMedium.woff') format('woff'), url('../fonts/LubDubMedium.woff2') format('woff2'), url('../fonts/LubDubMedium.ttf') format('truetype'), url('../fonts/LubDubMedium.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'LubDubBold';
// 	src: url('../fonts/LubDubBold.eot');
// 	src: local('☺'), url('../fonts/LubDubBold.woff') format('woff') , url('../fonts/LubDubBold.woff2') format('woff2'), url('../fonts/LubDubBold.ttf') format('truetype'), url('../fonts/LubDubBold.svg') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
    font-family: 'Eurostile';
    src: url('../fonts/EurostileBold.woff2') format('woff2'),
        url('../fonts/EurostileBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuroStyle';
    src: url('../fonts/EuroStyleNormal.woff2') format('woff2'),
        url('../fonts/EuroStyleNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'eurofurence  regular';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/eurofurence  regular'), url('../fonts/eurof55.woff') format('woff');
}
    



